.bar {
    display: flex;
    justify-content: space-between;
}
nav {
    width: 50%;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 2%;
}

.lista {
    text-align: center;
}

.listaConteiner {
    display: flex;
    align-items: center;

}

.tarjeta {
    display: flex;
    padding-bottom: 10%;
}

.tarjeta2 {
    background-color: grey;
    width: 33%;
    padding: 2%;
}

img {
    width: 100%;
}
